.movieList {
  list-style: none;
  text-decoration: none;
  font-size: 24px;
  padding-left: 0px;
}

.container {
  padding: 0 50px;
}
.movieLink {
  color: rgb(148, 68, 68);
  text-decoration: none;
}

.movieLink:visited {
  color: rgb(194, 138, 138);
}
